# =========================
# Archivos de entrada grandes
# =========================
numeros*.txt

# =========================
# Ejecutables compilados
# =========================
*.exe
*.out
*.o
*.a

# ejecutables de algoritmos
bubble_sort
bubble_sort01
bubble_sort02
insertion_sort
selection_sort
shell_sort
heap_sort
merge_sort
quick_sort
tree_sort

# =========================
# Archivos temporales
# =========================
*~
*.swp
*.tmp

# =========================
# Carpetas del sistema
# =========================
.DS_Store
Thumbs.db